# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.egg-info/
dist/
build/
*.spec
*.tar.gz
*.zip

# Node
node_modules/
node_bundle/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dati sensibili
*.json
*.txt
wallets/
wallet_data.json
rubrica.json
web_config.json
active_wallet.txt

# Virtual environment
venv/
env/
xrp_env_311/

# OS
.DS_Store
Thumbs.db
